@font-face {
  font-family: alegreyasans-regular;
  src: url(font/alegreyasans-regular.ttf);
}
* {
	box-sizing: flexbox;
	list-style-type: none;
	text-decoration: none;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-family: alegreyasans-regular;
}
a{
	color: inherit;
}
.body{
	margin-bottom: 30px;
}

.container-fluid{
	min-width: 768;
	width: 100%;
}
.navbar-main{
margin-bottom: 5%;

}
.navbar-main, .feature, .content, .content-footer, .product{
	width: 80%;
	height: 120px;
	padding: 0;
	margin: 0 auto;
	/*box-shadow: 0 2px 0px 0px rgba(0,0,1,.12);*/
	background-color: #fff;
	font-family: monospace;
}

.navbar-collapse{
	max-height: 250px;
	justify-content: space-between;
	padding: 5px 10px 5px 10px; 
	display: flex;
}
.navbar-brand{
	height: 100%;
	padding: 0;
}

.navbar-brand img{
	width: 148px; 
	height: auto;
}

.brand{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin: 42px 119px 10px 0px;; 
}

.navbar-menu{
	width: 50.6%;
    padding: 27px;
    display: flex;
}

.search{
	width: 50%;
	border-radius: 10px;
	border-color: rgba(255,165,0,1);
	transition:width 2s ;
	margin-top:15px;
}

.search input[type=text]{
	width: 168px;
}


.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 37px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: blue;
}

.screen-wallpaper{
	width: 100%;
	height: 425px;
	padding: 0px;
	overflow: hidden;
	box-shadow: 1px 5px 5px grey;
}

.screen-wallpaper img{
	height: auto;
    max-width: 100%;
    width: auto;
}

.feature{
	height: 30px;
	margin-top: 5%;
	justify-content: space-between;
	display: flex;
	margin-bottom: 51px;
}
.content{
	height: 250px;
	/*;*/
	justify-content: space-between;
	display: flex;
}

.content-product{
	width: 17%;
    padding: 0px;
    height: 100%;
    /* ; */
    transition: transform .9s;
    overflow: hidden;
    margin: 0px 0px 29px 29px;
    box-shadow: -8px 3px 10px grey;
}

.content-product img{
	max-height:100%; 
	max-width:100%;
}

.content-product img:hover{
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.1);
}

.nav-foot{
	background-color: #212529;
	width: 100%;
	height: 200px;
	;
	color: white;
}
.content-footer{
	background-color: transparent;
	box-shadow: none;
	/*justify-content: space-between;*/
	display: flex;

}
.link-footer{
	letter-spacing: 1px;
    color: #5f5f5f;
    text-transform: uppercase;
    margin-bottom: 13px;
    text-align: left;
    width: 10%;
    margin-right: 5%;
    font-size: 15px;
}

.link-footer li{
	margin-bottom: 9px;
	text-align: left;
	color: #acacac;
	text-transform: none;
}

.content-page{
	display: flex;
	width: 100%;
	height: auto;
	flex-wrap:wrap ;
	width: 80%;
	padding: 0;
	margin: 0 auto;
	/*box-shadow: 0 2px 0px 0px rgba(0,0,1,.12);*/
	background-color: #fff;
	font-family: monospace;
}

.dropbtn-page{
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.product{
	display: flex;
    ;
    height: auto;
    flex-wrap: wrap;
}
.nav-product{
	width: 100%;
    /* ; */
    background-color: #dedede;
    color: #252525;
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow:inset 2px 4px 20px 2px #8c8a8a;
}

.text-nav{
	font-size: 18px;
	color: #797979;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}

.body-product{
	width: 100%;
	margin-top: 100px;
	;
	display: flex; 
}
.product-img{
	width: 30%;
	height: auto;
	max-width: : 100%;
	max-height: 100%;
}

.product-img img{
	max-height: 100%;
    max-width: 100%;
}

.product-desc{
	width: 70%;
	height: auto;
	margin-left: 20px;
}

.product-name{
	font-size: 30px;
	font-weight: bold;
}

.product-price{
	font-size: 15px;
    font-weight: medium;
    color: #797979;
    margin: 10px 0px 38px 0px;
}

.product-deskripsi{
	margin-bottom: 30px;
}

.button-order{
	width: 234px;
    color: white;
    height: 60px;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
    background: #70ccf2;
    text-transform: uppercase;
}
.tab-product{
	width: 100%;
	margin: 20px 0px 0px 0px;
	height: auto;
}

.nav-tabs{
	width: 100%;
	display: flex;
	text-align: center;
	margin-bottom: 25px;
}

.nav-item1, .nav-item2, .nav-item3, .nav-item4{
	width: 25%;
	height: 20px;
	border-bottom: solid 1px grey;	
	text-transform: uppercase;
}

.product-tab{
	width:100%;
	height: 360px;
	display: flex; 
}
.tab-content1, .tab-content2, .tab-content3, .tab-content4{
	width: 100%;
	display: none;
}

.active{
	display: flex;
}
.nav-item-active{
	background-color:#70ccf2;
}
.trademark{
	width: 100%;
    background-color: black;
    color: #acacac;
    height: 30px;
    margin: 0 auto;
    padding: 10px 167px 0px 167px;	
}

.listing{
	width: 100%;
	border: solid 1px;
	height: auto;
	margin: 50px 0px 50px 0px;
}
#list-game {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#list-game td, #list-game th {
  /*border: 1px solid #ddd;*/
  padding: 8px;
}

#list-game tr:nth-child(even){
	background-color: #f2f2f2;
}

#list-game tr:hover {
	background-color: #ddd;
}
#list-game th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #70ccf2;
  color: white;
}
.listing-name{
	display: flex;
	vertical-align: middle;
}

.listing-name img{
	width: 80px;
	max-width: 100%;
}

.list-name1{
	margin:32px 10px 10px 10px;
}
.listing-user{
	display: flex;
	vertical-align: middle;
}

.listing-user img{
	width: 80px;
	max-width: 100%;
}

.list-user{
	margin:32px 10px 10px 10px;
}

