<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@font-face {
  font-family: alegreyasans-regular;
  src: url(font/alegreyasans-regular.ttf);
}
* {
	box-sizing: flexbox;
	list-style-type: none;
	text-decoration: none;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-family: alegreyasans-regular;
}
a{
	color: inherit;
}
.body{
	margin-bottom: 30px;
}
.container-fluid{
	min-width: 768;
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
}
.navbar-main{
margin-bottom: 5%;
}
.navbar-main, .feature, .content, .content-footer, .product, .profil, .body-product{
	width: 80%;
	height: 120px;
	padding: 0;
	margin: 0 auto;
	/*box-shadow: 0 2px 0px 0px rgba(0,0,1,.12);*/
	background-color: #fff;
	font-family: monospace;
}
.navbar-collapse{
	max-height: 250px;
	justify-content: space-between;
	padding: 5px 10px 5px 10px; 
	display: flex;
}
.navbar-brand{
	height: 100%;
	padding: 0;
}
.navbar-brand img{
	width: 148px; 
	height: auto;
}
.brand{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin: 42px 119px 10px 0px;; 
}
.navbar-menu{
	width: 50.6%;
    padding: 27px 0px 27px 0px;
    display: flex;
}
.search{
	width: 39%;
	border-radius: 10px;
	border-color: rgba(255,165,0,1);
	transition:width 2s ;
	margin-top:15px;
}
.search input[type=text]{
	width: 44%;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 37px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  	background-color: darkturquoise;
    color: white;
}
.screen-wallpaper{
	width: 6000px;
	height: 425px;
	padding: 0px;
	overflow: hidden;
	box-shadow: 1px 5px 5px grey;
	display: flex;
    flex-wrap: wrap;
}
.screen-wallpaper img{
	width: 1518px;
    max-width: 100%;
    
}
.slides{
	display: block;	
	height: 700px;
	margin: 0;
	position: relative;
	padding: 0;
	left: 0px;
}
.btn-slide{
	width: 10%;
    height: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
.btn{
	width: 13.6%;
    height: auto;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}
.btn:hover{
	background-color: #5b5757;
}
.feature{
	height: 30px;
	margin-top: 5%;
	justify-content: space-between;
	display: flex;
	margin-bottom: 51px;
}
.content{
	height: 100%;
	/*;*/
	justify-content: space-between;
	display: flex;
}
.content-product{
	width: 14%;
    padding: 0px;
    height: 100%;
    transition: transform .9s;
    overflow: hidden;
    margin: 0px 0px 29px 29px;
    box-shadow: -1px -18px 10px grey;
    background-color: transparent;
}
.content-product img{
	max-height:100%; 
	max-width:100%;
	width: 100%;
	height: auto;
}
.content-product img:hover{
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.1);
}
.nav-foot{
	background-color: #212529;
	width: 100%;
	height: 200px;
	color: white;
}
.content-footer{
	background-color: transparent;
	box-shadow: none;
	/*justify-content: space-between;*/
	display: flex;

}
.link-footer{
	letter-spacing: 1px;
    color: #5f5f5f;
    text-transform: uppercase;
    margin-bottom: 13px;
    text-align: left;
    width: 10%;
    margin-right: 5%;
    font-size: 15px;
}
.link-footer li{
	margin-bottom: 9px;
	text-align: left;
	color: #acacac;
	text-transform: none;
}
.content-page{
	display: flex;
	width: 100%;
	height: auto;
	flex-wrap:wrap ;
	width: 80%;
	padding: 0;
	margin: 0 auto;
	/*box-shadow: 0 2px 0px 0px rgba(0,0,1,.12);*/
	background-color: #fff;
	font-family: monospace;
}
.dropbtn-page{
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.product{
	display: flex;
    ;
    height: auto;
    flex-wrap: wrap;
}
.nav-product{
	width: 100%;
    /* ; */
    background-color: #dedede;
    color: #252525;
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow:inset 2px 4px 20px 2px #8c8a8a;
}
.text-nav{
	font-size: 18px;
	color: #797979;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}
.body-product{
	height: auto;
	display: flex; 
}
.product-img{
	width: 30%;
	height: auto;
	max-width: : 100%;
	max-height: 100%;
}
.product-img img{
	max-height: 100%;
    max-width: 100%;
}
.product-desc{
	width: 70%;
	height: auto;
	margin-left: 20px;
}
.product-name{
	font-size: 30px;
	font-weight: bold;
}
.product-price{
	font-size: 15px;
    font-weight: medium;
    color: #797979;
    margin: 10px 0px 38px 0px;
}
.product-deskripsi{
	margin-bottom: 30px;
}
.button-order{
	width: 234px;
    color: white;
    height: 60px;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
    background: #70ccf2;
    text-transform: uppercase;
}
.tab-product, .mygame{
	width: 100%;
	margin: 20px 0px 0px 0px;
	height: auto;
}
.nav-tabs{
	width: 100%;
	display: flex;
	text-align: center;
	margin-bottom: 25px;
}
.nav-item1, .nav-item2, .nav-item3, .nav-item4{
	width: 25%;
	height: 20px;
	border-bottom: solid 1px grey;	
	text-transform: uppercase;
}
.product-tab{
	width:100%;
	height: 360px;
	display: flex; 
}
.tab-content1, .tab-content2, .tab-content3, .tab-content4{
	width: 100%;
	display: none;
}
.active{
	display: flex;
}
.nav-item-active{
	background-color:#70ccf2;
}
.trademark{
    background-color: black;
    color: #acacac;
    height: 30px;
    margin: 0 auto;
    padding: 10px 167px 0px 167px;	
}
.listing{
	width: 100%;
	height: auto;
	margin: 50px 0px 50px 0px;
}
#list-game {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: none;
}
#list-game td, #list-game th {
  padding: 8px;
}
#list-game tr:nth-child(even){
	background-color: #f2f2f2;
}
#list-game tr:hover {
	background-color: #ddd;}
#list-game th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #70ccf2;
  color: white;
}
.listing-name{
	display: flex;
	vertical-align: middle;
}
.listing-name img{
	width: 80px;
	max-width: 100%;
}
.list-name1{
	margin:32px 10px 10px 10px;}
.listing-user{
	display: flex;
	vertical-align: middle;
}
.listing-user img{
	width: 80px;
	max-width: 100%;
}
.list-user{
	margin:32px 10px 10px 10px;
}
.profile-left{
	width: 45%;
	height: 264px;
	text-align: center;
}
.profile-right{
	width: 50%;
	height: auto;
}
.pp{
	padding: 10px;
    display: inline-block;
    height: 91%;
}
.pp img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	border: solid 1px #4d90ea;
}
.profile-left span{
	font-size: 20px;
}
.rate-star{
	width: 50%;
	margin-bottom: 30px
}
.checked{
	color: orange;
}
.list-game-invent{
	width: 100%;
	height: auto;	
}
.button-sell, .button-trade{
	background-color: #736bb5;
    color: white;
    border-radius: 10px;
    width: 41.33px;
    height: 18px;
}
.button-trade{
	background-color:blue;
}
.button-transaksi{
	padding: 32px 0px 10px 0px;
}
*{
  text-decoration: none;
  list-style: none;
}
.form{
	margin: 10px auto;
    width: 400px;
    border-radius: 4%;
    border: solid 1px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    background:rgba(19, 35, 47, 0.9);
}
.form input{
	width: 100%;
	border: solid 1px white;
	border-radius: 2px;
	height: 36px;
	margin: 20px 0px 20px 0px;
}
.form form{
	margin: 0px auto;
}
.form input[type="submit"] {
  background: #1ab188;
  color: #fff;
  cursor: pointer;
  border-color: transparent;
}
.form-header{
	width: 100%;	
	color: white;
}
.form form::placeholder{
	font-size: auto;
}
#login, #signup{
	margin: 0px auto;
}
#active{
	display: flex;
}
.log{
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap; 
}
.login, .signup{
	background-color: rgba(12, 29, 41, 0.9);
	border-color: transparent;
	border:none;
	color: #a0b3b0;
	width: 71%;
	text-align: center;
}
.log-active{
	background-color:#1ab188;
	display: flex;
	color: white;
}
.inactive{
  display: none;
  margin: none;
}
.popup{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}
.popupclose{
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}
.popupclose:hover, .popupclose:focus {
	color: red;
	cursor: pointer;
}
.search-result{
	width: 17%;
    height: 17%;
    border: solid 1px;
    z-index: 1;
    position: absolute;
}
.btn-active{
	background-color: #5b5757;
}
